.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo h1{
    text-transform: uppercase;
  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: #ba0bf9;
font-weight: bolder;
    
}

.home1{
padding: 5px;
    background-color: #ba0bf9;
}


.info{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    gap: 30px;
}

.bio h1{

    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}


.round{
    display: flex;
   padding: 10px;
   gap: 10px;
   justify-content: left;
}
.round1{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: blueviolet;

}

.round2{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: blueviolet;

}

.border{
    background-color: rgba(243, 222, 222, 0.76);
    width: fit-content;
    padding: 2px 20px;
    border-radius: 50px;
    margin: 10px 00px;
display: flex;
gap: 10px;
}

.dess{
    padding: 10px;
    margin-right: 50px;
}
.flex5{
    display: flex;
    justify-content: space-between;
   
}
.sp1{

    padding: 40px;
    border-bottom: 1px solid var(--font-primary-color);
}

.sp2{
  
        padding: 40px;
        border-bottom: 1px solid var(--font-primary-color);
    }
    .sp3{
      
            padding: 40px;
            border-bottom: 1px solid var(--font-primary-color);
        }

     
.flex6{
    display: flex;
    justify-content: space-between;
   padding: 10px;
}

.flex7{
    display: flex;
    justify-content: space-between;
   padding: 10px;
}

.flex4{
    background-color: blueviolet;
   
    padding: 5px 30px;
    border-radius: 50px;
    margin: 10px 00px;

}
.flex4{
    display: flex;
    gap: 5px;
}
.icon4{
    height: 20px;
    width: 20px;
}


.hire{
 
    height: 30px;
    width: 30px;
    display: flex;
    gap: 12px;
    
    padding: 40px 0px;
  
}

.icon
{
    display: flex;
    gap: 60px
    padding: 10px 30px;
    border-radius: 50px;
    margin: 20px 00px;
;
}







.border2 p{
    color: black;
    padding: 15px;
}

.add{
    display: flex;
   gap: 50px;
   padding: 20px;
  
}
.extra{
    display: flex;
    padding : 15px;
    background-color: black;
    gap: 10px;
    justify-content: center;
   
    
}


.about-me{

    padding-top: 50px;
   
}
.aboutskill{
padding: 30px;
    display: flex;
    justify-content: space-between;
    justify-items: left;
    gap: 5px;
}
.about h1{
    text-transform: uppercase;

font-weight: bolder;
font-size: 30px;
}


.star{
    padding: 20px;
    
}
.star p{
    text-align: center;
}
.star h1{
    font-weight: bolder;
font-size: 30px;
text-align: center;
}
